<div class="mt-4">  
    <h3>Cập Nhật Khóa Học</h3>
    <form class="mt-4" method="POST" action="/courses/{{course._id}}?_method=PUT">
  <div class="mb-3">
    <label for="name" class="form-label">Tên khóa học</label>
    <input type="text" class="form-control" id="name" name="name" value="{{course.name}}">
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Mô tả</label>
    <textarea class="form-control" id="description" name="description">{{course.description}}</textarea>
  </div>
  <div class="mb-3">
    <label for="videoId" class="form-label">Mã video</label>
    <input type="text" class="form-control" id="videoId" name="videoId" value="{{course.videoId}}">
  </div>
  <div class="mb-3">
    <label for="level" class="form-label">Cấp độ</label>
    <input type="text" class="form-control" id="level" name="level" value="{{course.level}}">
  </div>





  <button type="submit" class="btn btn-primary">Lưu lại </button>
    </form>
</div>